<form action="/payment/results">

<div>
<label for="labelone">APR</label>
<input id="labelone" type="text" placeholder="E.g. 5.42" name="user_apr">
</div>

<div>
<label for="labelone">Number of years</label>
<input id="labelone" type="text" placeholder="How many years to repay?" name="user_years">
</div>

<div>
<label for="labelone">Principal</label>
<input id="labelone" type="text" placeholder="How much principal?" name="user_principal">
</div>
<div>
<button>Calculate monthly payment</button>
</div>
