<h1>howdy</h1>

<form>
  <label for="labelone">Enter a number</label>
  <input id="labelone" type="text" placeholder="What number do you want to square?" name="elephant">

<button>Calculate square</button>
</form>
